/*
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 75px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #0e0e0e;
}

html {
    /* background-color: rgb(22, 22, 22); */
    color: #000;
    color: #0e0e0e;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-image: url("../img/hero.jpg");
    height: 114vh;
    background-size: cover;
    background-position: center;
}

.hero-text-center {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1140px;
    color: #fff;
    text-align: center;
    line-height: 0.7;
}

.hero-text-center h5 {
    font-size: 82.5%;
    font-weight: 700;
    letter-spacing: 0.28em;
}

.hero-text-center h1 {
    font-size: 420%;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.btn:link, .btn:visited {
    display: inline-block;
    padding: 30px 80px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color, border, color 0.15s;
    font-size: 85%;
}

.btn-full:link, .btn-full:visited {
    background-color: #f5be18;
    border: 2px solid #f5be18;
    color: #003149;
    font-weight: 600;
}

.btn-full:hover, .btn-full:active {
    background-color: #003149;
    color: #fff;
    border: 2px solid #003149;
}

.nav-row {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.20);
}

.nav-dir a, .user-icons {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.nav-dir a, .user-icons a {
    margin-left: 50px;
}

.nav-dir, .user-icons {
    list-style-type: none;
}

.nav-dir {
    padding-top: 20px;
}

.nav-dir li, .user-icons li {
    display: inline-block;
}

.logo {
    font-size: 245%;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.3em;
}

svg {
    vertical-align: middle;
}

.user-icons a {
    color: #fff;
    font-size: 160%;
    vertical-align: middle;
}

.user-icons {
    padding: 12px 0px;
}

#cart_count {
    background-color: #f5be18;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    text-align: center;
    display: inline-block;
}

.nav-dir li a:link, .nav-dir li a:visited, .user-icons li a:link, .user-icons li a:visited {
    transition: color, background-color 0.4s;
}

.nav-dir li a:hover, .nav-dir li a:active, .user-icons li a:active, .user-icons li a:hover {
    color: #f5be18;
}

section {
    padding: 80px 0px;
}

#product-showcase {
    background-color: #fff;
    height: 100%;
}

#product-showcase h1 {
    color: rgb(20, 20, 20);
    font-size: 350%;
    font-weight: 600;
    width: 90%;
    line-height: 1.2em;
}

#product-showcase p {
    font-family: 'Roboto', 'sans-serif';
    width: 95%;
    font-size: 120%;
    color: #565555de;
    font-weight: 600;
    line-height: 1.8;
}

.pf-icon {
    color: #f5be18;
    font-size: 4em;
}

#paint-feature-list {
    font-family: 'Roboto', 'sans-serif';
    padding: 70px 0;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

#paint-feature-list p {
    font-size: 70%;
    font-weight: 600;
    letter-spacing:3px;
}

.paint-feature {
    margin: 0 10px;
}

#paint_box {
height: auto;
width: 100%;
}

#product-container {
    display: flex;
    min-height: 60vh;
    align-items: flex-end;
}